#my-account {
  flex-direction: column;
  h2 {
    margin-bottom: 18px;
  }
  .nav-tabs .nav-link {
    padding: 0 16px;
    color: #333333;
    &:hover,
    &.active {
      border: solid #EC2028;
      border-width: 0 0 4px;
      font-size: 14px;
      font-weight: 700;
      color: #EC2028;
    }
  }
  #account-tabs {
    margin-bottom: 30px;
  }
  .tab-pane {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .control-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .filter {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
    .dropdown {
      margin-left: 10px;
      .dropdown-toggle {
        border: 1px solid #9E9E9E;
        border-radius: 4px;
        background-color: transparent;
        color: #333333;
        min-width: 150px;
        text-align: left;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
        &::after {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .btn {
      width: 160px;
      height: 40px;
      font-size: 14px;
    }
  }
  .real-contents {
    .real-content {
      margin-top: 30px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      padding: 20px;
      border-radius: 10px;
    }
    .top-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 28px;
      .real-button {
        width: 40px;
        height: 24px;
        background-color: #0076DA;
        border-radius: 2px;
        color: white;
        text-align: center;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 24px;
        margin-right: 8px;
      }
      .mt5-button {
        width: 40px;
        height: 24px;
        background-color: #9E9E9E;
        border-radius: 2px;
        color: white;
        text-align: center;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 24px;
        margin-right: 8px;
      }
      p {
        margin-bottom: 0;
      }
    }
    .bottom-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .price {
        font-weight: 700;
        font-size: 18px;
        color: #333333;
        .price-int {
          font-size: 30px;
        }
      }
    }
    .ctas-buttons {
      width: calc(100% - 130px);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      .trade-cta .btn,
      > button {
        height: 40px;
        border: none;
        border-radius: 4px;
        width: 160px;
        color: #333333;
        background-color: #F2F2F2;
        margin-right: 12px;
      }
      .trade-cta {
        .dropdown-toggle::after {
          content: none;
        }
        .btn {
          color: #FFFFFF;
          background-color: #0076DA;
        }
      }
      .settings-cta {
        .btn {
          height: 40px;
          position: relative;
          padding-right: 30px;
        }
        .dropdown-toggle::after {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
        .dropdown-menu {
          width: 240px;
          padding: 10px 0;
          left: auto!important;
          right: 0;
          li a {
            color: #333333;
            padding: 0 14px;
            display: inline-block;
            height: 36px;
            width: 100%;
            line-height: 36px;
            &:hover {
              text-decoration: none;
              background-color: rgba(0,118,218,0.1);
            }
          }
        }
      }
    }
  }
  #set-trade-modal,
  #set-pass-modal,
  #set-ac-modal,
  #set-nickname-modal,
  #set-leverage-modal,
  #set-balance-modal {
    height: 100%;
    width: 100%;
    .modal-dialog {
      width: 600px;
      margin: auto;
      max-width: unset;
    }
    .modal-header {
      border: 0;
      position: relative;
      flex-direction: column;
      color: #333333;
      margin-bottom: 30px;
      padding: 20px 30px 0;
      .close {
        position: absolute;
        right: 16px;
        top: 16px;
      }
      p {
        margin-bottom: 0;
      }
    }
    .modal-body {
      padding: 0 30px;
      .balance-label {
        font-weight: 700;
        margin-bottom: 10px;
      }
      input {
        width: 100%;
        height: 40px;
        border: 1px solid #9E9E9E;
        border-radius: 4px;
        padding-left: 14px;
        padding-right: 14px;
      }
      .leverage-note {
        margin-top: 30px;
        margin-bottom: 0;
        background-color: rgba(236, 32, 40, .1);
        color: #333333;
        padding: 12px 14px;
        min-height: 44px;
        a {
          color: #0076DA;
          text-decoration: underline;
        }
      }
    }
    .modal-footer {
      padding: 34px 30px 40px;
      border: 0;
      justify-content: center;
      .btn {
        width: 320px;
      }
    }
    h5 {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 8px;
    }
  }
  #set-leverage-modal {
    .dropdown {
      button {
        width: 100%;
        height: 40px;
        border: 1px solid #9E9E9E;
        border-radius: 4px;
        padding-left: 14px;
        padding-right: 14px;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  #set-nickname-modal .modal-body > p {
    margin-bottom: 0;
    margin-top: 30px;
  }
  #set-trade-modal,
  #set-ac-modal {
    .modal-body{
      .balance {
        background-color: #F2F2F2;
        padding: 30px;  
      }
      .first-text {
        font-weight: 700;
      }
      p {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
      }
      span {
        text-align: left;
        font-weight: 400;
        width: 175px;
        display: inline-block;
      }
      img {
        margin-left: auto;
      }
    }
    .modal-footer .btn {
      border: 1px solid #9E9E9E;
      background-color: transparent;
      color: #333333;
      width: 320px;
      height: 40px;
      font-size: 14px;
      font-weight: 400;
      line-height: 40px;
    }
  }
  #set-pass-modal {
    .current-pass {
      margin-bottom: 20px;
      input {
        background: url('../imgs/check-icon.png') no-repeat;
        background-position: right 10px top 6px;
        background-size: 24px 24px; 
      }
    }
    .new-pass {
      position: relative;
      .showpass {
        width: 24px;
        display: inline-block;
        position: absolute;
        height: 24px;
        background: url('../imgs/eye.png') no-repeat center;
        right: 14px;
        bottom: 8px;
        cursor: pointer;
      }
    }
  }
  #set-trade-modal {
    .modal-footer {
      display: flex;
      flex-direction: column;
      > button.btn {
        background-color: #0076DA;
        width: 100%;
        margin-bottom: 20px;
        color: white;
        padding: 0;
      }
      .cta-btns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        > * {
          width: 260px;
        }
        .btn {
          width: 100%;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-between;
          padding-left: 14px;
          padding-right: 14px;
          position: relative;
          &:after {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        button {
          background-color: transparent;
          border: 1px solid #9E9E9E;
          border-radius: 4px;
        }
      }
    }
  }
}

#create-account {
  .create-account {
    width: 100%;
  }
  h2 {
    margin-bottom: 20px;
    color: #333333;
  }
  .create-account-content {
    > h3 {
      font-weight: 700;
      color: #0076DA;
      position: relative;
      width: 86px;
      text-align: center;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 30px;
      &:before {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #0076DA;
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
      }
    }
    > p {
      max-width: 510px;
      color: #333333;
      margin-bottom: 30px;
    }
  }
  .standart-account {
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    border: 1px solid #0076DA;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 200px;
    .left-standart-account {
      width: calc(100% - 370px);
      display: flex;
      flex-direction: column;
      .cta-standart,
      p {
        padding-left: 20px;
        padding-right: 20px;
      }
      .cta-standart {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: auto;
        button {
          width: 49%;
          max-width: 270px;
          border-radius: 4px;
          font-size: 14px;
        }
        .btn-second {
          background-color: #F2F2F2;
          color: #333333;
        }
      }
    }
    .right-standart-account {
      width: 370px;
      padding: 28px 30px;
      background-color: #F2F2F2;
      p {
        color: #333333;
        background: url(../imgs/arrow-red.png) no-repeat;
        background-size: 12px 10px;
        margin-bottom: 15px;
        padding-left: 32px;
        background-position: 0 7px;
      }
    }
    h4 {
      font-size: 24px;
      font-weight: 700;
      color: white;
      background-color: #0076DA;
      margin-right: auto;
      display: inline-block;
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      height: 60px;
      line-height: 60px;
      padding: 0 22px;
    }
  }
  .step2 {
    .standart-account {
      border: none;
      box-shadow: none;
      .left-standart-account {
        padding-right: 30px;
        p {
          padding: 0;
        }
      }
    }
    .right-standart-account {
      margin-bottom: auto;
      min-height: 200px;
    }
    .boxes {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;
      h5 {
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        color: #333;
        margin-bottom: 10px;
      }
    }
    .box {
      border: 1px solid #9E9E9E;
      border-radius: 8px;
      padding: 20px 10px 20px 40px;
      position: relative;
      width: 49%;
      max-width: 270px;
      &:before {
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid #9E9E9E;
        display: inline-block;
        position: absolute;
        left: 15px;
        top: 20px;
      }
      h6 {
        font-weight: 700;
        font-size: 14px;
        color: #333;
      }
      &.check {
        border-color: #0076DA;
        &:before {
          border: 4px solid #fff;
          background-color: #0076DA;
          box-shadow: 0 0 1px 1px #0076DA;
        }
      }
    }
    .account-nickname,
    .currency {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 25px;
      .create-account-nickname,
      .password-account-nickname,
      .dropdown {
        max-width: 270px;
        width: 49%;
        h6 {
          font-size: 14px;
          font-weight: 700;
          margin-bottom: 10px;
        }
        > a {
          border-radius: 4px;
          height: 40px;
          width: 100%;
          background-color: transparent;
          border: 1px solid #9E9E9E;
          color: #333333;
          text-align: left;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
    .account-nickname {
      margin-bottom: 40px;
      input {
        width: 100%;
        border: 1px solid #9E9E9E;
        border-radius: 4px;
        height: 40px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .cta-account {
      width: 100%;
      border-top: 1px solid #9E9E9E;
      padding-top: 30px;
      button {
        width: 220px;
        height: 40px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 40px;
        padding: 0;
      }
    }
  }
  #create-account-modal {
    .modal-dialog {
      width: 400px;
      height: 60px;
      text-align: center;
    }
    .modal-footer {
      border: none;
      margin: auto;
    }
    img {
      margin: auto;
      width: 60px;
      height: 60px;
      margin-bottom: 15px;
    }
    .modal-content {
      padding: 40px;
      > p {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 40px;
      }
    }
    button.close {
      width: 160px;
      height: 40px;
      border: 1px solid #9E9E9E;
      border-radius: 4px;
      margin: auto;
      font-size: 14px;
      font-weight: 400;
      background-color: transparent;
    }
  }
}