body .header,
body .main-content,
body .footer {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #F2F2F2; }
  body .header h2,
  body .main-content h2,
  body .footer h2 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 37px; }
  body .header .btn-primary,
  body .main-content .btn-primary,
  body .footer .btn-primary {
    background-color: #0076DA;
    border-color: #0076DA; }

body {
  background-color: #F2F2F2 !important; }

body .header {
  height: 80px;
  background-color: #001847;
  margin-bottom: 20px; }
  body .header .menu-mobile {
    display: none; }
  body .header .logo {
    height: 80px; }
    body .header .logo a {
      display: inline-block;
      height: 100px; }
      body .header .logo a img {
        height: 100%;
        width: 100%; }
  body .header .col-md-12 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }

.account-mobile,
.logout-mobile,
.tab-pane {
  display: none; }
  .account-mobile.show,
  .logout-mobile.show,
  .tab-pane.show {
    display: flex; }

.infomations {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }
  .infomations .money {
    font-weight: 700;
    font-size: 20px;
    padding: 0 40px; }
  .infomations a {
    color: white;
    padding: 0 16px; }
    .infomations a:hover {
      text-decoration: none;
      color: white;
      background-color: #1A305A; }
  .infomations .dropdown > a {
    color: #F2F2F2; }
  .infomations .dropdown-menu {
    left: auto !important;
    right: 0;
    background-color: #1A305A;
    top: 100% !important;
    transform: none !important;
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 18px 20px 13px; }
    .infomations .dropdown-menu a {
      padding: 0; }
    .infomations .dropdown-menu .name {
      font-weight: 700; }
    .infomations .dropdown-menu .email {
      opacity: 0.6;
      font-size: 12px;
      margin-bottom: 15px; }
    .infomations .dropdown-menu .logout {
      border-top: 1px solid white;
      padding-top: 10px;
      font-size: 12px; }
  .infomations .account #dropdownMenuAccountLink,
  .infomations .account #dropdownMenuLanguageLink,
  .infomations .language #dropdownMenuAccountLink,
  .infomations .language #dropdownMenuLanguageLink {
    height: 80px;
    display: flex;
    align-items: center; }
    .infomations .account #dropdownMenuAccountLink img,
    .infomations .account #dropdownMenuLanguageLink img,
    .infomations .language #dropdownMenuAccountLink img,
    .infomations .language #dropdownMenuLanguageLink img {
      height: auto;
      margin: auto 0 auto 5px; }

.dropdown.show > a {
  background-color: #1A305A; }

.language .dropdown-menu {
  padding: 10px 0; }
  .language .dropdown-menu .dropdown-item {
    height: 40px;
    padding: 0 20px;
    line-height: 40px; }
    .language .dropdown-menu .dropdown-item:hover {
      background-color: #001847; }

body #footer .footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #9E9E9E; }
body #footer .menu-footer {
  width: calc(100% - 90px);
  min-height: 60px; }
  body #footer .menu-footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    align-items: center;
    height: 100%; }
  body #footer .menu-footer li {
    margin-right: 50px; }
  body #footer .menu-footer a {
    font-size: 12px;
    color: #333333;
    text-decoration: underline; }
body #footer .copy-right {
  width: 90px;
  color: #333333;
  font-size: 12px;
  letter-spacing: -0.5px;
  margin: auto; }

.main-content .nav-link {
  padding-left: 0; }

.reset,
.register,
.sign-in {
  width: 100%;
  min-height: 90vh; }
  .reset label,
  .register label,
  .sign-in label {
    font-weight: 700; }
  .reset input::placeholder,
  .register input::placeholder,
  .sign-in input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C4C4C4;
    opacity: 1;
    /* Firefox */ }
  .reset input:-ms-input-placeholder,
  .register input:-ms-input-placeholder,
  .sign-in input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #C4C4C4; }
  .reset input::-ms-input-placeholder,
  .register input::-ms-input-placeholder,
  .sign-in input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #C4C4C4; }
  .reset .email,
  .register .email,
  .sign-in .email {
    margin-bottom: 18px; }
  .reset .btn-submit,
  .register .btn-submit,
  .sign-in .btn-submit {
    margin: 30px auto 40px;
    max-width: 320px;
    font-size: 14px; }
  .reset .err-mess,
  .register .err-mess,
  .sign-in .err-mess {
    margin-top: 18px; }
    .reset .err-mess p,
    .register .err-mess p,
    .sign-in .err-mess p {
      margin: 0;
      color: #EC2028; }
  .reset .pass,
  .register .pass,
  .sign-in .pass {
    position: relative; }
  .reset .showpass,
  .register .showpass,
  .sign-in .showpass {
    width: 24px;
    display: inline-block;
    position: absolute;
    height: 24px;
    background: url("../imgs/eye.png") no-repeat center;
    right: 14px;
    bottom: 8px;
    cursor: pointer; }
  .reset .forgot,
  .register .forgot,
  .sign-in .forgot {
    font-size: 16px;
    color: #EC2028;
    text-decoration: underline;
    display: flex;
    justify-content: center; }
  .reset .text-inner,
  .register .text-inner,
  .sign-in .text-inner {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 700; }
    .reset .text-inner .signin-link,
    .reset .text-inner .register-link,
    .register .text-inner .signin-link,
    .register .text-inner .register-link,
    .sign-in .text-inner .signin-link,
    .sign-in .text-inner .register-link {
      font-weight: 400;
      display: inline-block;
      margin-left: 3px;
      text-decoration: underline; }

.box-middle {
  width: 480px;
  margin: 60px auto auto; }
.box-inner {
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px 30px 40px;
  margin-bottom: 60px; }

.term {
  color: #9E9E9E;
  font-size: 12px;
  letter-spacing: -.3px; }

.step3,
.step2 {
  position: relative; }
  .step3 .phone-verify,
  .step2 .phone-verify {
    width: 100%; }
  .step3 .showstep,
  .step2 .showstep {
    position: absolute;
    right: 30px;
    top: 40px;
    color: #9E9E9E;
    text-transform: uppercase; }
  .step3 .intl-tel-input,
  .step2 .intl-tel-input {
    width: 100%;
    display: flex; }
    .step3 .intl-tel-input .selected-flag,
    .step2 .intl-tel-input .selected-flag {
      z-index: 4; }
    .step3 .intl-tel-input .country-list,
    .step2 .intl-tel-input .country-list {
      z-index: 5; }
    .step3 .intl-tel-input.allow-dropdown.separate-dial-code .flag-container .selected-flag,
    .step2 .intl-tel-input.allow-dropdown.separate-dial-code .flag-container .selected-flag {
      width: 120px;
      border-right: 1px solid #9E9E9E;
      background-color: transparent; }
    .step3 .intl-tel-input .selected-flag .iti-arrow,
    .step2 .intl-tel-input .selected-flag .iti-arrow {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid #555;
      top: 46%; }
  .step3 .input-group .intl-tel-input .form-control,
  .step2 .input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    padding-left: 130px !important;
    border: 1px solid #9E9E9E;
    border-radius: 4px; }

.step3 .btn-submit {
  margin-bottom: 0; }
.step3 .form .zip {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px; }
  .step3 .form .zip > div {
    width: 200px; }
.step3 .form .address-area .input-group {
  display: flex;
  flex-direction: column; }
  .step3 .form .address-area .input-group input {
    width: 100%; }
.step3 .intl-tel-input.allow-dropdown.separate-dial-code {
  height: 40px; }
  .step3 .intl-tel-input.allow-dropdown.separate-dial-code .phone-verify {
    display: none; }
  .step3 .intl-tel-input.allow-dropdown.separate-dial-code .flag-container {
    width: 100%;
    height: 40px;
    border: 1px solid #9E9E9E;
    border-radius: 4px; }
    .step3 .intl-tel-input.allow-dropdown.separate-dial-code .flag-container .selected-flag {
      width: 100%;
      border-right: none; }

.reset .btn-submit {
  margin-bottom: 0; }
.reset .signin-link {
  display: flex;
  cursor: pointer;
  margin: 30px auto 0;
  max-width: 320px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 4px;
  height: 40px;
  text-align: center;
  align-items: center;
  justify-content: center; }
  .reset .signin-link:hover {
    text-decoration: none; }
.reset .step3 input {
  background: url("../imgs/check-icon.png") no-repeat;
  background-position: right 10px top 6px;
  background-size: 24px 24px; }
.reset .step4 .sign-in-title {
  font-size: 20px;
  text-align: center; }

.content {
  padding: 20px 15px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between; }
  .content .right-side-bar {
    width: 100px; }
    .content .right-side-bar .nav-item {
      margin-bottom: 20px; }
      .content .right-side-bar .nav-item a {
        display: flex;
        flex-direction: column;
        color: #333333;
        text-align: center;
        padding: 10px 15px 11px;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -.5px; }
        .content .right-side-bar .nav-item a.active {
          background-color: white;
          border-radius: 8px;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }
          .content .right-side-bar .nav-item a.active img {
            filter: invert(12%) sepia(67%) saturate(6490%) hue-rotate(351deg) brightness(115%) contrast(88%); }
        .content .right-side-bar .nav-item a:hover {
          background-color: white;
          border-radius: 8px; }
          .content .right-side-bar .nav-item a:hover img {
            filter: invert(12%) sepia(67%) saturate(6490%) hue-rotate(351deg) brightness(115%) contrast(88%); }
  .content .left-side-bar {
    width: calc(100% - 140px);
    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;
    margin-bottom: 35px; }

/*# sourceMappingURL=main.css.map */
