#partnership h2 {
  margin-bottom: 30px; }
#partnership .partnership {
  width: 100%; }
#partnership .partnership-rank-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px; }
#partnership .partnership-rank-box {
  width: calc(50% - 15px);
  max-width: 470px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-radius: 8px; }
  #partnership .partnership-rank-box .btn {
    width: 205px;
    margin: auto;
    display: flex;
    justify-content: center; }
  #partnership .partnership-rank-box .partnership-affiliate-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    #partnership .partnership-rank-box .partnership-affiliate-link p {
      text-align: center; }
    #partnership .partnership-rank-box .partnership-affiliate-link a {
      text-decoration: underline; }
    #partnership .partnership-rank-box .partnership-affiliate-link .btn {
      width: 120px; }
    #partnership .partnership-rank-box .partnership-affiliate-link input {
      width: calc(100% - 130px);
      background-color: #F2F2F2;
      border-radius: 4px;
      border: none;
      height: 40px;
      color: #0076DA;
      text-decoration: underline;
      padding-left: 14px;
      padding-right: 14px; }
#partnership .partnership-rank h3 {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 9px; }
#partnership .partnership-rank-price {
  width: 100%;
  background-color: #F2F2F2;
  padding: 18px;
  text-align: center;
  margin-bottom: 20px; }
  #partnership .partnership-rank-price .price {
    color: #333333;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px; }
    #partnership .partnership-rank-price .price .price-int {
      font-size: 30px; }
  #partnership .partnership-rank-price > p {
    color: #333333cc; }
#partnership .partnership-rank-star {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  #partnership .partnership-rank-star > div {
    width: calc(50% - 10px); }
  #partnership .partnership-rank-star .star-info .spread-share {
    background-color: #F2F2F2;
    border-radius: 4px;
    padding: 12px 14px;
    margin-bottom: 20px; }
    #partnership .partnership-rank-star .star-info .spread-share:last-child {
      margin-bottom: 0; }
  #partnership .partnership-rank-star .star-info .label-spread-share {
    margin-bottom: 6px;
    font-size: 10px;
    color: #333333; }
  #partnership .partnership-rank-star .star-info .percent-spread-share {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 0; }
  #partnership .partnership-rank-star .primary-star {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 4px;
    padding: 22px 15px; }
    #partnership .partnership-rank-star .primary-star img {
      margin-bottom: 20px; }
  #partnership .partnership-rank-star .name-star {
    color: #7D4F00;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 0; }
    #partnership .partnership-rank-star .name-star.partner {
      color: #9E9E9E; }
    #partnership .partnership-rank-star .name-star.premium {
      color: #E3A001; }
    #partnership .partnership-rank-star .name-star.vip {
      color: #0076DA; }
#partnership .chart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  #partnership .chart .income,
  #partnership .chart .registrations {
    overflow: hidden;
    width: 49%;
    max-width: 455px; }
  #partnership .chart #chartincome,
  #partnership .chart #chartregistrations {
    width: 100% !important;
    margin-left: -11px;
    margin-bottom: -25px; }
  #partnership .chart .labelchart {
    font-size: 14px;
    color: #333333; }
    #partnership .chart .labelchart strong {
      font-size: 18px; }
  #partnership .chart .columny {
    font-size: 10px;
    color: #C4C4C4; }
#partnership .input-daterange {
  border: 1px solid #9E9E9E;
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 300px; }
  #partnership .input-daterange input {
    border: none; }
  #partnership .input-daterange .dropdown-toggle:after {
    transform: rotate(270deg); }
#partnership .quick-report {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px; }
  #partnership .quick-report h4 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
    margin-bottom: 12px; }
  #partnership .quick-report > p {
    color: #333333;
    font-size: 14px;
    margin-bottom: 7px; }
  #partnership .quick-report .date {
    margin-bottom: 50px; }
#partnership .members {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px; }
  #partnership .members h4 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
    margin-bottom: 8px; }
  #partnership .members table {
    width: 100%;
    color: #333;
    margin-bottom: 20px; }
    #partnership .members table th {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      height: 52px; }
      #partnership .members table th:last-child {
        text-align: right; }
      #partnership .members table th:first-child {
        padding-left: 40px; }
  #partnership .members tbody {
    border: solid #9E9E9E;
    border-width: 1px 0; }
    #partnership .members tbody tr {
      height: 53px; }
    #partnership .members tbody td {
      font-size: 14px; }
      #partnership .members tbody td.pending {
        color: #EC2028; }
      #partnership .members tbody td:last-child {
        text-align: right; }
      #partnership .members tbody td:first-child {
        padding-left: 40px; }
      #partnership .members tbody td.level {
        background: url(../imgs/arrow-red.png) no-repeat;
        background-size: 12px 10px;
        background-position: left 40px top 50%;
        padding-left: 70px; }
        #partnership .members tbody td.level.lvl2 {
          background-position: left 70px top 50%;
          padding-left: 100px; }
  #partnership .members nav {
    margin-left: auto; }
    #partnership .members nav .next .dropdown-toggle:after {
      transform: rotate(270deg); }
    #partnership .members nav .prev .dropdown-toggle:after {
      transform: rotate(90deg); }
    #partnership .members nav .page-item {
      margin-left: 4px; }
      #partnership .members nav .page-item .page-link {
        background-color: #F5F5F5;
        color: #333333;
        border-radius: 4px; }
      #partnership .members nav .page-item.active .page-link {
        border: 1px solid #9E9E9E;
        background-color: transparent; }

/*# sourceMappingURL=partnership.css.map */
